/*BREAKPOINTS*/
//1200PX

//992PX /16px  ===62
//768PX /16px  ===48
//576PX /16px  ===36

//420PX
//380PX

$bp-large:62em;
$bp-medium:48em;
$bp-small:36em;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

$lato: 'Lato', sans-serif;
$morado: purple;



html{

    // Por defecto el font size es 16 = 100%
    font-size: 62.5%; //10px
    box-sizing: border-box;
    font-family: $lato;
    @media only screen and(max-width:$bp-small){
        font-size: 50%;
    }
}

a,
a:link, 
a:visited {

    text-decoration: none;
}

ul{

    list-style: none;
}