*{

    margin: 0;
}

#header{

    /* border: 2px dotted blue; */
    margin-bottom: 10px;
}


section {

    /* border: 2px dotted peru; */
    margin: 10px 0;
    text-align: center;
}

footer{

    /* border: 2px dotted green; */
    text-align: center;
}

header nav {

    background-color: #3498db;
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
}

header nav div {

    color: white;
    background-color: #34495e;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 5px;
}

header nav div.active {

    background-color: #e67e22;

}

header nav div .active {

    background-color: #c0392b;
    

}


.border{

    border: 5px solid white;
    font-size: 50px;
}

.active {

    background-color: black;
    font-size: 30px;
    border: 1px solid white;

}




section article {


    border: 10px solid red;
    margin-bottom: 10px;
}

section a {

    text-decoration: none;
    background-color: #1abc9c;
    font-size: 20px;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
}