/*BREAKPOINTS*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 50%; } }

a,
a:link,
a:visited {
  text-decoration: none; }

ul {
  list-style: none; }

.contenedor {
  width: 80%;
  margin-right: auto;
  margin-left: auto; }

.nav {
  background-color: #273b47;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* posicionar siempre el menu */
  position: fixed;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  height: 5.9rem; }
  .nav--logo {
    display: block;
    width: 10rem; }
  .nav__menuBox {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 48em) {
      .nav__menuBox {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        top: 0;
        left: -100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        transition: all .5s; }
        .nav__menuBox.active {
          left: 0;
          transition: all .5s; } }
    .nav__menuBox__menu {
      list-style: none;
      display: flex; }
      @media only screen and (max-width: 48em) {
        .nav__menuBox__menu {
          flex-direction: column; } }
      @media only screen and (max-width: 48em) {
        .nav__menuBox__menu__item {
          text-align: center;
          margin-bottom: 2rem; } }
      .nav__menuBox__menu__item:not(:last-child) {
        border-right: .2rem solid white; }
        @media only screen and (max-width: 48em) {
          .nav__menuBox__menu__item:not(:last-child) {
            border-right: none; } }
      .nav__menuBox__menu__item--link {
        color: white;
        font-size: 1.6rem;
        padding: 8px 15px; }
        @media only screen and (max-width: 48em) {
          .nav__menuBox__menu__item--link {
            font-size: 3rem; } }
    .nav__menuBox--session {
      color: white;
      font-size: 1.6rem;
      text-decoration: none;
      background-color: #ff4842;
      padding: 8px 15px;
      display: inline-block;
      border-radius: 5px; }
  .nav__menuIcon {
    color: white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid white;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    z-index: 1; }
    @media only screen and (max-width: 48em) {
      .nav__menuIcon {
        display: block; } }

.header {
  margin-top: 5.9rem; }
  .header__contenedor__form {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0; }
    .header__contenedor__form--input {
      font-size: 1.6rem;
      font-family: "Lato", sans-serif; }
    .header__contenedor__form--button {
      padding: .5rem;
      background-color: black;
      border: none;
      color: white;
      margin-left: .5rem; }
  .header__contenedor__box {
    position: relative; }
    .header__contenedor__box--img {
      display: block;
      width: 100%;
      height: auto; }
    .header__contenedor__box__article {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 2rem;
      font-size: 1.6rem; }
      @media only screen and (max-width: 62em) {
        .header__contenedor__box__article {
          position: unset; } }
      .header__contenedor__box__article--separador {
        margin: 1rem 0; }
      .header__contenedor__box__article__data {
        display: flex;
        justify-content: space-between; }

.section {
  padding: 2rem 0; }
  .section__contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .section__contenedor__article {
      width: calc(100% / 3 - 2rem);
      margin-bottom: 3rem; }
      @media only screen and (max-width: 48em) {
        .section__contenedor__article {
          width: calc(50%  - 1.5rem); } }
      @media only screen and (max-width: 36em) {
        .section__contenedor__article {
          width: 100%; } }
      .section__contenedor__article--img {
        width: 100%;
        display: block; }
      .section__contenedor__article__box {
        margin-top: 1rem;
        font-size: 1.6rem; }
        .section__contenedor__article__box--separador {
          margin: 1rem 0; }
        .section__contenedor__article__box__data {
          display: flex;
          justify-content: space-between; }

.footer {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 3rem; }
  .footer--paginas {
    color: #9393af; }
  .footer__numeracion {
    margin-left: 1rem; }
    .footer__numeracion--link {
      color: #666666;
      background-color: #eaeaea;
      padding: .5rem;
      border: 1px solid #cccccc;
      display: inline-block;
      margin-bottom: 1rem; }
      .footer__numeracion--link.active {
        background-color: transparent;
        border: 1px solid transparent; }

/*# sourceMappingURL=estilos.css.map */
