.section{
    padding: 2rem 0;
    &__contenedor{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__article{
            width: calc(100% / 3 - 2rem);
            margin-bottom: 3rem;
            @media only screen and(max-width:$bp-medium){
            width: calc(50%  - 1.5rem); 
            }
            @media only screen and(max-width:$bp-small){
                width: 100%;
            }

            &--img{
                width: 100%;
                display: block;
            }
            &__box{
                margin-top: 1rem;
                font-size: 1.6rem;
                &--separador{
                    margin: 1rem 0;
                }
                &__data{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}